@tailwind base;
@tailwind components;
@tailwind utilities;


.timmana-regular {
    font-family: "Timmana", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.cipper{
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)
}
.clipper{
    clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 0% 100%)
}

@keyframes slide-down {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-up {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-20px);
        opacity: 0;
    }
}

.slide-down {
    animation: slide-down 0.3s ease-out;
}

.slide-up {
    animation: slide-up 0.3s ease-in;
}

